.description {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-size: .14rem;
}
.editor{
  display: inline-block;
  width: 48%;
  margin-right: 4%;
}
.upload{
  display: inline-block;
  width: 48%;
  vertical-align: top;
}