@import '../../css/var';

.setting {
  width: 5rem;
  margin: 1rem auto;
  font-size: .14rem;
}

.cancel {
  height: .25rem;
  line-height: .25rem;
  color: $tipsColor;
}

.tips {
  padding: .05rem 0;
  color: $tipsColor;
}

.primary {
  button {
    display: inline-block;
    width: 100%;
  }
}
