.login {
  width: 3rem;
  margin: 0 auto;
}
.title{
  text-align: center;
  font-size: .2rem;
  font-weight: bold;
  margin: .2rem 0;
}
.primary {
  button {
    display: inline-block;
    width: 100%;
  }
}